src/main/resources/api/wsShopPreAuth.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="CreditAuthorization">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="AccessLocId" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AccessCustId" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="CreditAuthorizationResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="CreditAuthorizationResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="CreditAuthorizationSoapIn">
<wsdl:part name="parameters" element="tns:CreditAuthorization"/>
</wsdl:message>
<wsdl:message name="CreditAuthorizationSoapOut">
<wsdl:part name="parameters" element="tns:CreditAuthorizationResponse"/>
</wsdl:message>
<wsdl:portType name="wsShopPreAuthSoap">
<wsdl:operation name="CreditAuthorization">
<wsdl:input message="tns:CreditAuthorizationSoapIn"/>
<wsdl:output message="tns:CreditAuthorizationSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="wsShopPreAuthSoap12" type="tns:wsShopPreAuthSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CreditAuthorization">
<soap12:operation soapAction="http://tempuri.org/CreditAuthorization" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="wsShopPreAuth">
<wsdl:port name="wsShopPreAuthSoap12" binding="tns:wsShopPreAuthSoap12">
<soap12:address location="https://www.access-billing-services.com/CustomerServices/PreAuth/wsShopPreAuth/wsShopPreAuth.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>